@model IEnumerable<LunchAccounting.Models.AppResource>

@{
    ViewBag.Title = "Resource List";
}

<h2>Resource List</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Resource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefaultAccess)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Resource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefaultAccess)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.AppResource_id }, new { @class = "btn btn-sm btn-info" }) 
            @Html.ActionLink("Details", "Details", new { id = item.AppResource_id }, new { @class = "btn btn-sm btn-info" }) 
            @Html.ActionLink("Delete", "Delete", new {  id=item.AppResource_id  }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
