@model IEnumerable<LunchAccounting.Models.FoodCardRecharge>

@{
    ViewBag.Title = "Recharge List";
}

<h2>Recharge List</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FoodCard_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperatorInfo.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RechargeFor.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.FoodCardInfo.FoodCardName, "details", "foodcard", new { id = item.FoodCard_id}, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperatorInfo.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RechargeFor.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FoodCardRecharge_id  }, new { @class = "btn btn-sm btn-info" }) 
            @Html.ActionLink("Details", "Details", new { id=item.FoodCardRecharge_id  }, new { @class = "btn btn-sm btn-info" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.FoodCardRecharge_id  }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
